<body style="background-color: #C4EBF2">
  <div id="main-nav">
    <div id="masthead"><a href="/">Job Trackr</a></div>
  </div>

  <div id="tagline">Edit <%= @job.job_title %> at <%= @job.co_name %></div>

  <div class="login-status">
    <% if current_user %>
      <li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
    <% end %>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="container">
    <br><br>
    	<%= render 'form' %>
    <br>
    <div class="container-small">
    	<%= link_to 'All Jobs', jobs_path %>
    </div>

    <br><br>

  </div>

  </body>
