<div class="login-status">

  <% if current_user %>
    <li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
  <% end %>
  <p id="notice"><%= notice %></p>

</div>

<div class="container">

	<h2>Edit Job: <%= @job.job_title %> at <%= @job.co_name %></h2>
	<%= render 'form' %>
	<br>
	<%= link_to 'All Jobs', jobs_path %>
	
	<br><br>

</div>
