<div id="main-nav">
  <div id="masthead">Job Trackr</div>
    <div id="tagline">Job Applications</div>
</div>

<br><br>

<p id="notice"><%= notice %></p>

<% if current_user %>
  <li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
<% end %>

<br>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Company Name</th>
        <th>Date Applied</th>
        <th>Listing URL</th>
        <th>Application URL</th>
        <th>Resume URL</th>
        <th>Cover Letter URL</th>
        <th>Notes</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.job_title %></td>
          <td><%= job.co_name %></td>
          <td><%= job.date_applied %></td>
          <td><%= job.listing_url %></td>
          <td><%= job.application_url %></td>
          <td><%= job.resume_url %></td>
          <td><%= job.coverletter_url %></td>
          <td><%= job.notes %></td>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Remove', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
<br><br>
<%= link_to 'New Job', new_job_path %>
