<body background="/assets/conf3.jpg">

  <div id="main-nav">

    <div id="masthead"><a href="/">Job Trackr</a></div>
    <div id="tagline">Job Applications</div>

  </div>

  <div id="notices-jobs">
    <div class="login-status-jobs">
        <% if current_user %>
          <li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
        <% end %>
    </div>
    <p id="notice-jobs"><%= notice %></p>
  </div>

  <br>

  <div class="container">

  <br>

    <div class="container-medium">
        <%= link_to '(+) New Application', new_job_path %>
    </div>

  <br>

      <table>
      
        <thead>
          <tr>
            <th colspan="1"></th>  <!-- for delete column -->
            <th>Submission Date</th>
            <th>Company Name</th>
            <th>Company Website URL</th>
            <th>Position Title</th>
            <th>Position Listing URL</th>
            <th colspan="1"></th> <!-- for edit/more info column -->
          </tr>
        </thead>

        <tbody>

          <% @jobs.each do |job| %>

            <tr class="alt">
              <td><%= link_to '(x)', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%=job.app_dt%></td>
              <td><%= job.co_name %></td>
              <td><a href="<%=job.co_url%>" target="_blank"><%=job.co_url%></a></td>   
              <td><%= job.job_title %></td>
              <td><a href="<%=job.list_url%>" target="_blank"><%=job.list_url%></a></td>  
              <td><%= link_to 'Edit / More Info', job %></td>
            </tr>

          <% end %>

        </tbody>
      </table>  

    <br><br><br>

  </div>
</body>



