

<div class="login-status">

  <% if current_user %>
    <li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
  <% end %>
  <p id="notice"><%= notice %></p>

</div>

<div class="container">

    <h2>Job Applications</h2>
    <%= link_to '(+) New Application', new_job_path %>
    <br><br>

      <table>
        <thead>
          <tr>
            <th colspan="1"></th>  <!-- delete column -->
            <th>Submission Date</th>
            <th>Company Name</th>
            <th>Company Website URL</th>
            <th>Position Title</th>
            <th>Position Listing URL</th>
            <th>Quick Note</th>
      <!--  <th>Application URL</th>
            <th>Resume URL</th>
            <th>Cover Letter URL</th> -->
         <!--    <th>Quick Notes</th> -->
            <th colspan="1"></th> <!-- edit/more info column -->
          </tr>
        </thead>

        <tbody>
          <% @jobs.each do |job| %>
            <tr class="alt">
              <td><%= link_to '(x)', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= job.app_dt %></td>
              <td><%= job.co_name %></td>
              <td><a href="<%=job.co_url%>" target="_blank"><%=job.co_url%></a></td>   
              <td><%= job.job_title %></td>
              <td><a href="<%=job.list_url%>" target="_blank"><%=job.list_url%></a></td>
              <td><%= job.note %></td>
      <!--    <td><%= job.app_url %></td>
              <td><%= job.res_url %></td>
              <td><%= job.cover_url %></td> -->
     <!--          <td><%= job.notes %></td> -->
              <td><%= link_to 'Edit / More Info', job %></td>
      <!--    <td><%= link_to 'Edit Job', edit_job_path(job) %></td> -->
           
            </tr>
          <% end %>
        </tbody>
      </table>  

    <br><br>

</div>





