<p id="notice"><%= notice %></p>

<p>
  <strong>Job Title:</strong>
  <%= @job.job_title %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @job.co_name %>
</p>

<p>
  <strong>Date Applied:</strong>
  <%= @job.date_applied %>
</p>


<p>
  <strong>Listing URL:</strong>
  <%= @job.listing_url %>
</p>

<p>
  <strong>Application Site URL:</strong>
  <%= @job.application_url %>
</p>

<p>
  <strong>Resume URL:</strong>
  <%= @job.resume_url %>
</p>

<p>
  <strong>Cover Letter URL:</strong>
  <%= @job.coverletter_url %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @job.notes %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

