<div class="login-status">

  <% if current_user %>
    <li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
  <% end %>
  <p id="notice"><%= notice %></p>

</div>

<div class="container">

  <h2><%= @job.job_title %> at <%= @job.co_name %></h2>

  <div class="container">

  <p>
    <strong>Submission Date:</strong>
    <%= @job.app_dt %>
  </p>

  <p>
    <strong>Company Website URL:</strong>
    <%= @job.co_url %>
  </p>

  <p>
    <strong>Position Listing URL:</strong>
    <%= @job.list_url %>
  </p>

   <p>
    <strong>Application URL:</strong>
    <%= @job.app_url %>
  </p>

  <p>
    <strong>Quick Note:</strong>
    <%= @job.note%>
  </p>

  <p>
    <strong>Link to Resume Version Submitted:</strong>
    <%= @job.res_url %>
  </p>

  <p>
    <strong>Link to Cover Letter Submitted:</strong>
    <%= @job.cover_url %>
  </p>

  <p>
    <strong>Extended Notes:</strong>
    <%= @job.notes %>
  </p>

  </div>

  <br>

  <%= link_to 'Edit Job', edit_job_path(@job) %> |
  <%= link_to 'All Jobs', jobs_path %>

  <br><br>

</div>
