<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.co_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job.date_applied %>
</p>


<p>
  <strong>Listing:</strong>
  <%= @job.listing_url %>
</p>

<p>
  <strong>App url:</strong>
  <%= @job.application_url %>
</p>

<p>
  <strong>Res url:</strong>
  <%= @job.resume_url %>
</p>

<p>
  <strong>Cov ltr:</strong>
  <%= @job.coverletter_url %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

