<body style="background-color: #95d1dc">
  <div id="main-nav">
  <div id="masthead">Job Trackr</a></div>
  <div id="tagline">Reset Password</div>
</div>

<br><br><br>

<div class="container-small">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h5><%= devise_error_messages! %></h5>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

<br>

  <div class="actions">
    <%= f.submit "Reset" %>
  </div>
<% end %>

<br>

<%= render "devise/shared/links" %>
</div>
