<body style="background-color: #95d1dc">
  <div id="main-nav">
    <div id="masthead"><a href="/">Job Trackr</a></div>
    <div id="tagline">Log In</div>
  </div>

  <br><br><br>

  <div class="container-small">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h5><%= devise_error_messages! %></h5>
    
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

  <br>

    <div class="actions">
      <%= f.submit "Log In" %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>

  <br><br>

</div>
</body>