<!DOCTYPE html>
<html>
<head>
  <title>JobTrackr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
	<h2>Job Trackr</h2>
	<% if current_user %>
    	<li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
	<% end %>

<%= yield %>

</body>
</html>
